/* Write your CSS code here */
.ulElement {
  text-align: center;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link {
  margin-right: 10px;
  font-family: 'Roboto';
}
